<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.unb.backoffapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.unb.backoffapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.unb.backoffapp.DeviceManagerActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="ca.unb.backoffapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.unb.BackoffApp.MainActivity" />
        </activity>
        <activity
            android:name="ca.unb.backoffapp.MessageListActivity"
            android:label="@string/title_message_list"
            android:parentActivityName="ca.unb.backoffapp.DeviceManagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.unb.backoffapp.DeviceManagerActivity" />
        </activity>
        <activity
            android:name="ca.unb.backoffapp.MessageDetailActivity"
            android:label="@string/title_message_detail"
            android:parentActivityName=".MessageListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MessageListActivity" />
        </activity>
    </application>

</manifest>
